<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudy.forum.mapper.DiscussPostMapper">
    <sql id="tableName">
        discuss_post
    </sql>

    <sql id="baseColumn">
        id,user_id,title,content,type,status,create_time,comment_count,score
    </sql>

</mapper>